{% extends "navbar.html" %}

{% block title %}
Add Member
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 mt-5">
                <div class="form-group">
                    <form method="post" action="{% url 'add_member' %}" enctype="multipart/form-data" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="form-group fw-bold">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %} 
